@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { font-size: 115%; }
  html, body, #app, * { -ms-overflow-style: none; scrollbar-width: none; }
  *::-webkit-scrollbar { display: none; width: 0; height: 0; }
  button:focus-visible, a:focus-visible, input:focus-visible, select:focus-visible {
    outline: none;
    border-color: var(--color-vscode-accent);
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
  input[type="number"] { -moz-appearance: textfield; appearance: textfield; }
}